<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>FakeBook</title>
</head>
<body>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            {% for message in messages %}
                <div class="message {% if message['from'] == 'user' %}user{% endif %}">
                    {{ message['content'] }}
                </div>
            {% endfor %}
        </div>
        <form class="message-form" action="{{ url_for('send_message') }}" method="POST">
            <input class="message-input" type="text" name="message" placeholder="Type your message here">
            <button class="send-button" type="submit">Send</button>
        </form>
        <form class="message-form" action="{{ url_for('sign_out') }}">
            <button class="sign-out-button" type="submit">Sign out</button>
        </form>
    </div>

    <script>
        // Scroll to the bottom of the chat box
        var chatBox = document.getElementById('chat-box');
        chatBox.scrollTop = chatBox.scrollHeight;
    </script>
</body>
</html>
